table.ticket1{
    background-color: lightgrey !important;
    border-radius: 15px;
    color: black !important; 
  }

  .mynav {
    border-bottom: 1px solid rebeccapurple;
    background-color: darkgreen;
    border-radius: 10px;
  }