<div id="booking" class="section">

    <div class="section-center">
        <div class="container">
            <div class="card editcard border-success mb-3" style="width: 18rem;">
                <div class="card-header">
                    {{userName}}
                    <span style="float:right" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                </div>
                <ul class="list-group list-group-flush userlist">
                    <li class="list-group-item">{{userDOB | date:'mediumDate'}}</li>
                    <li class="list-group-item">{{userEmail}}</li>
                    <li class="list-group-item">{{userPhone}}</li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit My Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="booking-form">

                        <form [formGroup]="editUser" (submit)="editData()">
                            <div class="row">

                                <div class="col-md-12">

                                    <div class="form-group">
                                        <span class="form-label">Date Of Birth</span>
                                        <input class="form-control" type="date" formControlName="dob">
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span class="form-label">Phone Number</span>
                                        <input class="form-control" type="text" maxlength="10" pattern="\d{10}"
                                            formControlName="phone" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span class="form-label">Name</span>
                                        <input class="form-control" type="text" formControlName="name"
                                            placeholder="Name" />
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 subBtn">
                                    <div class="form-btn">
                                        <input type="submit" class="submit-btn" value="Edit My Profile" />

                                    </div>
                                </div>

                                <div class="col-md-6 subBtn">
                                    <div class="form-btn">
                                        <button type="button" class="submit-btn" data-dismiss="modal">Close</button>
                                        <!-- <input type="submit" class="submit-btn" value="Edit My Profile" /> -->

                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>

                  
                </div>
                
            </div>
        </div>
    </div>



</div>